.container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .images {
    display: flex;
    justify-content: space-between;
    flex: 1;

    > div {
      width: 25%;
      margin: 1em;
      border: 1px solid #555;
    }
  }
}
