@import "~react-app-engine/src/theme/_config";

:global {
  // Any Global styles goes here
  .switch-wrapper {
    position: relative;
    height: 100%;
    > div {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }

  .page {
    flex: 1;
    height: 100%;

    &.padded {
      padding: 1em;
    }
  }

  html {
    background-color: $color-page;
  }
}
